name: Build & Test Maven Project
on: [push, pull_request]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build Application
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 11
          cache: maven

      - name: Build & Test application
        run: ./mvnw verify
